<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Home CVSearch</title>

</head>
<body class="bg-light text-dark">

<div class="container-fluid mt-3">
  
  <div class="row mt-auto">
    <div class="col-md-2">
    	<button type="button" class="btn btn-primary">User</button>

    </div>
    <div class="col-md-8">
	  <h2 class="text-center">Cerca il tuo CV</h2>
	</div>
	<div class="col-md-2">
    	<button type="button" (click)="onLogout()" class="btn btn-primary">Logout</button>

    </div>
  </div>

  <div class="row mt-auto">
    <div class="col-md-2">
		<div class="btn-group">
 			<button type="button" (click)="onAdd()" class="btn btn-primary">Add</button>
		</div>	 
    </div>
    <div class="col-md-8 text-center">
	  <input type="text" name="searchbar" class="align-center form-control" #textsearch>
	  <button type="button" (click)="onSearch(textsearch.value)" class="btn btn-primary ml-2">Search</button>
	  
	</div>
	<div class="col-md-2">
		<div class="btn-group">
	  		<button type="button" class="btn btn-primary">Filter</button>
		</div>	
    </div>
  </div>
</div>

<app-result [foundpeople]="p"></app-result>


</body>
</html>
